# District Summary
Perform the necessary calculations and then create a high-level snapshot of the district's key metrics in a DataFrame.

Include the following:

Total number of unique schools

Total students

Total budget

Average math score

Average reading score

% passing math (the percentage of students who passed math)

% passing reading (the percentage of students who passed reading)

% overall passing (the percentage of students who passed math AND reading)

In [31]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_df = Path("Resources/schools_complete.csv")
student_data_df = Path("Resources/students_complete.csv")



# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_df)
school_data_df.head()
student_data_df = pd.read_csv(student_data_df)
student_data_df.head()
# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [32]:
#total number of unique schools 
# Calculate the total number of unique schools
dist_school_count = school_data_df ["school_name"].count()
dist_school_count
print("Total number of schools in District:", dist_school_count)

Total number of schools in District: 15

In [33]:
# Calculate the total number of students
dist_student_count = student_data_df ["student_name"].count()
dist_student_count
print("Total number of students in District:", dist_student_count)

Total number of students in District: 39170

In [34]:
# Calculate the total budget
total_dist_budget = school_data_complete['budget'].sum()
print("Total school District Budget:", total_dist_budget)

Total school District Budget: 82932329558

In [24]:
# Calculate the average (mean) math score
average_math_score =  school_data_complete['math_score'].mean()
average_math_score

print("the average math score for the school:", average_math_score)

the average math score for the school: 78.98537145774827

In [25]:
# Calculate the total number of students
dist_student_count = student_data_df ["student_name"].count()
dist_student_count
print("Total number of students in District:", dist_student_count)

Total number of students in District: 39170

In [26]:
# Calculate the average (mean) math score
average_math_score =  school_data_complete['math_score'].mean()
average_math_score

print("the average math score for the District: ",average_math_score)

the average math score for the District:  78.98537145774827

In [27]:
# Calculate the average (mean) reading score
average_reading_score =  school_data_complete['reading_score'].mean()
average_reading_score

print("the average reading score for the District:", average_reading_score)

the average reading score for the District: 81.87784018381414

In [35]:
#  % passing math (the percentage of students who passed math)
# # Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(dist_student_count) * 100
passing_math_percentage

74.9808526933878

In [37]:
#  % passing reading (the percentage of students who passed reading)

passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(dist_student_count) * 100
passing_reading_percentage

85.80546336482001

In [30]:
#  % overall passing (the percentage of students who passed math AND reading)

passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
    ].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(dist_student_count) * 100
overall_passing_rate

65.17232575950983

In [45]:
#
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools" :[dist_school_count],
"Total Students":[dist_student_count],	
"Total Budget":[total_dist_budget],
"Average Math Score":[average_math_score],
"Average Reading Score":[average_reading_score],
"% Passing Math":[passing_math_percentage],
"% Passing Reading":[passing_reading_percentage],
"% Overall Passing":[overall_passing_rate]})


#"Total Schools" :[dist_school_count]
#"Total Students":[dist_student_count]	
#"Total Budget":[total_dist_budget]
#"Average Math Score[average_math_score]
#"Average Reading Score":[average_reading_score]
#"% Passing Math":[passing_math_percentage]
#"% Passing Reading"[passing_reading_percentage]
#"% Overall Passing"[overall_passing_rate]


# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$82,932,329,558.00",78.985371,81.87784,74.980853,85.805463,65.172326

# School Summary
Perform the necessary calculations and then create a DataFrame that summarizes key metrics about each school.

Include the following:

School name

School type

Total students

Total school budget

Per student budget

Average math score

Average reading score

% passing math (the percentage of students who passed math)

% passing reading (the percentage of students who passed reading)

% overall passing (the percentage of students who passed math AND reading)

In [48]:
# Use the code provided to select the type per school from school_data
school_type = school_data_complete.set_index(["school_name"])["type"]
school_type

school_name
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
                        ...
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Name: type, Length: 39170, dtype: object

In [50]:
# Calculate the total student count per school from school_data
per_school_counts = school_data_complete.groupby(["school_name"]).count()["Student ID"]
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [73]:
# Calculate the total school budget and per capita spending per school from school_data

total_per_capita_spending_per_school = pd.DataFrame({"school_name" :[dist_school_count],
"Total Students":[dist_student_count],"Total Budget":[total_dist_budget]})

total_per_capita_spending_per_school

   school_name  Total Students  Total Budget
0           15           39170   82932329558

In [56]:
# Calculate the average test scores per school from school_data_complete
per_school_math =
per_school_reading =

SyntaxError: invalid syntax (1446683062.py, line 2)

In [ ]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math =
school_students_passing_math =

In [ ]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math =
school_students_passing_math =

In [ ]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [ ]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [ ]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary =

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

In [ ]:
#  Highest-Performing Schools (by % Overall Passing)
Sort the schools by % Overall Passing in descending order and display the top 5 rows.

Save the results in a DataFrame called "top_schools".

In [ ]:
#Lowest-Performing Schools (by % Overall Passing)
Sort the schools by % Overall Passing in ascending order and display the top 5 rows.

Save the results in a DataFrame called "bottom_schools".

In [ ]:
#Math Scores by Grade
Perform the necessary calculations to create a DataFrame that lists the average math score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [ ]:
#Reading Scores by Grade
Create a DataFrame that lists the average reading score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [ ]:
#Scores by School Spending
Create a table that breaks down school performance based on average spending ranges (per student).

Use the code provided below to create four bins with reasonable cutoff values to group school spending.

spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]
Use pd.cut to categorize spending based on the bins.

Use the following code to then calculate mean scores per spending range.

spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()
Use the scores above to create a DataFrame called spending_summary.

Include the following metrics in the table:

Average math score

Average reading score

% passing math (the percentage of students who passed math)

% passing reading (the percentage of students who passed reading)

% overall passing (the percentage of students who passed math AND reading)

In [ ]:
# Scores by School Size
Use the following code to bin the per_school_summary.

size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
Use pd.cut on the "Total Students" column of the per_school_summary DataFrame.

Create a DataFrame called size_summary that breaks down school performance based on school size (small, medium, or large).

Scores by School Type
Use the per_school_summary DataFrame from the previous step to create a new DataFrame called type_summary.

This new DataFrame should show school performance based on the "School Type".